.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu, .quiz, .endscreen {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu button, .quiz button, .endscreen button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.menu, .quiz {
  color: white;  
}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.quiz button:active {
  color: grey;
}

.endscreen button {
  display: flex;
  align-items: center;
  justify-content: center;
}
